<div class="contact1">

<div class="Contact"><h2>
  <span id='1st'>CONTACT </span>
  <span id='2nd'>US</span>
</h2>
  <form>

    <label for="fname">Name</label>
    <input type="text" id="name" name="Name" placeholder="Your name.." pattern="[A-Z][A-Za-z'-]+">
	<label for="email">Email</label>
	<input type="email" id="email" name="email" placeholder="Email...">
    <label for="service">Reason for contacting</label>
    <select id="service" name="service">
      <option value="webdev">Report a bug</option>
      <option value="back">Report an error</option>
	  <option value="both">Need a help in understanding the application</option>
	  <option value="data">Anyother Help/Support</option>
    </select>

    <label for="subject">Message</label>
	<input type="text" id="subject" name="subject" placeholder="Enter your short message" pattern="[^<>\/]+" style="height:100px" >
    <input class="button" type="submit" value="Submit">

  </form>
  </div>
</div>