<div class="main">
<div class="first">
<h2>
  <span id='1st'>MUTUAL </span>
  <span id='2nd'>MATCH</span>
</h2>
<h4>
  Maybe you can fall in love with the pet from this list ......
</h4>
<div class="row card-group">
    <div class="card-deck">  
        <div class="card mb-4" >
          <img class="card-img-top" src="" alt="Mutual match pet">
          <div class="card-body">
            <h4 class="card-title">Name: Kitie, Gender: Female, Age: 3 years</h4>
           
            <p class="card-text">Description will be shown in this area. For more description go on link <a href="#">More></a></p>
            </div>
        </div> 
      </div>
    </div>
<div class="row card-group">
    <div class="card-deck">  
        <div class="card mb-4" *ngFor="let mm of mutualmatchPets | paginate: { id: 'pages',itemsPerPage: 9,currentPage: page}">
          <img class="card-img-top" src="{{mm.image}}" alt="Mutual match pet">
          <div class="card-body">
            <h4 class="card-title">{{mm.pet_name}} ({{mm.gender}}) {{mm.age}} Years</h4>
            <p class="card-text">{{mm.description}}</p>
            </div>
        </div> 
      </div>
    </div>
    <div class="pagination">
        <pagination-controls  id="pages" maxSize="6" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
</div>