h2{
    font-weight: bold;
    text-align: center;
    color: plum;
    margin-top: 5px;
}

h4{
    color: purple;
    text-align: center;
}
.first{
    width: 80%;
    margin-left: 10%;
    border: 2px;
    border-width: thin;
    background-color: aliceblue;
}
.card-deck{
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
}