<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <div class="row card-group">
          <div class="card-deck">  
              <div class="card mb-4" >
                <div class="image"></div>
                <img class="card-img-top" src="Cat.jpg" alt="Mutual match pet">
                <div class="card-body">
                  <h3 class="card-title"  style='font-size:48px; color: rgba(202, 150, 174, 0.705)'>Oscar (Male) 3 years</h3>
                 
                  <p class="card-text">Description will be shown in this area. For more description go on link <a href="#">More></a></p>
                  <a class='firstt' href="#" style='font-size:40px;'>
                    &#10006;
                  </a>
                  <a href="#">
                    <i class='fas fa-star' style='font-size:48px; color: rgb(219, 54, 131)'></i>
                  </a>
                  <a href="#">
                    <i class='fas fa-heart' style='font-size:48px; color: pink'></i>
                  </a>
                  </div>
              </div> 
            </div>
          </div>
      </div>
  </div>
</div>
