.button1 {
    border-radius: 50%;
    background-color: pink;
}
.button2 {
    border-radius: 50%;
    background-color: pink;
}
.glyphicon-heart {
    color: pink;
}
a{
    margin-right: 40px;
}
.firstt{
    margin-left: 25%;
}
.image{
    background-image: url(./Cat.jpg);
    background-repeat: no-repeat;
}
.card-group{
    margin-left: 20%;
    margin-top: 5%;
}