<div class="container-fluid">
  
    <div  class="row  blogRow">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
   <button type="button" class="btn btn-dark post" [routerLink]="['/postpet']" >New Pet <i class="fa fa-plus addPet" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row">
    
    <div class="col-12">
      <div *ngFor="let data of petData">
      <div class="row">
        <div class="col-md-6" id="pets2">
          <div class="card" style="width:70%;height:30%;">
            <img class="img-thumbnail" [src]="data.image" routerLink="/pet-details"  i alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{data.pet_name}}</h5>
  
            </div>
  
          </div>
  
        </div>
        
  
      </div>
    </div>
    </div>
  </div>
  
  </div>
  